@import url(globals.css);
@import url(reset.css);

:root {
	font-family: var(--ff-doodle);
	line-height: 1.5;
	color: var(--clr-text);

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* Default styles */
/* Headings */

.read-the-docs {
	color: #888;
}

/* Game styles */

body {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	background: linear-gradient(to bottom, lightblue, white);
}

.game-canvas {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("assets/background.png");
}

.end-game-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	transform: translate(-50%, -50%);
	background-color: white;
}
