/* Colors & font-sizes */
:root {
	--clr-bg: #414a4c;

	--clr-neutral: #444;
	--clr-neutral-light: #444;

	--clr-accent: #eee;
	--clr-accent-light: #fff;

	--ff-primary: "Be Vietnam Pro", sans-serif;
	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-regular: 400;
	--fw-semi-bold: 500;
	--fw-bold: 700;

	--fs-300: 0.8125rem;
	--fs-400: 0.875rem;
	--fs-500: 1rem;
	--fs-600: 1.875rem;
	--fs-700: 1.875rem;
	--fs-800: 2.5rem;
	--fs-900: 2.5rem;

	--fs-body: var(--fs-400);
	--fs-primary-heading: var(--fs-800);
	--fs-secondary-heading: var(--fs-700);
	--fs-nav: var(--fs-500);
	--fs-button: var(--fs-300);
}
@media (min-width: 50em) {
	:root {
		--fs-700: 3.5rem;
		--fs-600: 2.5rem;
		--fs-primary-heading: var(--fs-900);
		--fs-secondary-heading: var(--fs-800);
		--fs-body: var(--fs-500);
		--fs-nav: var(--fs-300);
	}
}

/* Utilities Classes */
.text-primary {
	color: var(--clr-primary);
}
.text-accent {
	color: var(--clr-accent);
}
.text-accent-light {
	color: var(--clr-accent-light);
}

.text-neutral {
	color: var(--clr-neutral);
}
.text-neutral-light {
	color: var(--clr-neutral-light);
}
